.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  @include font(700, 26px, 31px);
  letter-spacing: 0.03em;
  color: $accent-color;
}

.logo__dark {
  // color: $title-text-color;
  color: rgb(69, 76, 70);
}

.logo__light {
  // color: $white-text-color;
  color: rgb(69, 76, 70);

}
.logo__footer-left-icon{
 color: rgba(84, 94, 233, 0.442);
}